html,
body {
  font-family: sans-serif;
  background-color: #e3b7ee;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 320;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.to-do-container {
  width: 310px;
  height: auto;
  background-color: #833297;
  border-radius: 20px;
  color: aliceblue;
  text-align: center;
  padding: 50px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.input-container input {
  height: 36px;
  border-radius: 8px;
  border: #ffffff;
  width: calc(100% - 80px);
  color: #060b13;
}

.btn {
  background-color: #a66deb;
  border: #a66deb;
  border-radius: 8px;
  height: 36px;
  width: 80px;
  cursor: pointer;
  color: #060b13;
}

.btn:hover,
.btn:focus {
  background-color: #9149e9;
}
.todo-list {
  list-style: none;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #060b13;
  font-weight: 400px;
  font-size: 22px;
  line-height: 1.5;
}

.delete-btn {
  background-color: #8346c0;
  border-radius: 8px;
  border: #8346c0;
  cursor: pointer;
  height: 36px;
  width: 80px;
  font-size: 16px;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: #5f239b;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .to-do-container {
    width: 760px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .to-do-container {
    width: 1260px;
  }

  .input-container input {
    height: 36px;
    width: 760px;
  }

  .todo-list {
    padding-left: 126px;
  }

  .todo-list-item {
    width: 850px;
  }
}
